nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
   
}

#primary-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 24px;
}

#primary-menu a img {
    display: block;
}