nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
   
}

#primary-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 24px;
}

#primary-menu a img {
    display: block;
}

#menu-toggle {
    display: none; 
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px;
}

@media (max-width: 768px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 20px;
    }

    #logo {
    display: flex; 
    align-items: center; 
    gap: 8px;
}

    #menu-toggle {
        line-height: 1;
        padding: 0;
        display: flex;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 10px;
        font-size: 24px;
        color: var(--brand-color);
    }

     #primary-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px; 
        left: 0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 20px 0;
        list-style: none;
        gap: 0;
     }

     #primary-menu.is-visible {
        display: flex;
    }

     #primary-menu li a {
        display: block;
    }
}